body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1906px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:589px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1234px;
  height:589px;
  display:flex;
}
#u2143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:589px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:60px;
  width:4px;
  height:589px;
  display:flex;
}
#u2144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:365px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:60px;
  width:4px;
  height:365px;
  display:flex;
}
#u2145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1036px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:-94px;
  width:7px;
  height:1036px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:30px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:30px;
  display:flex;
}
#u2147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:30px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1234px;
  height:30px;
  display:flex;
}
#u2148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:61px;
  width:182px;
  height:24px;
  display:flex;
}
#u2149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:66px;
  width:85px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:66px;
  width:18px;
  height:13px;
  display:flex;
}
#u2151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:86px;
  width:182px;
  height:24px;
  display:flex;
}
#u2152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:91px;
  width:130px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:91px;
  width:18px;
  height:13px;
  display:flex;
}
#u2154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:111px;
  width:182px;
  height:24px;
  display:flex;
}
#u2155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:116px;
  width:151px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:116px;
  width:18px;
  height:13px;
  display:flex;
}
#u2157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:301px;
  width:182px;
  height:24px;
  display:flex;
}
#u2158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:306px;
  width:99px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:306px;
  width:18px;
  height:13px;
  display:flex;
}
#u2160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:326px;
  width:182px;
  height:24px;
  display:flex;
}
#u2161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:331px;
  width:102px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:331px;
  width:18px;
  height:13px;
  display:flex;
}
#u2163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:351px;
  width:182px;
  height:24px;
  display:flex;
}
#u2164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:356px;
  width:77px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:356px;
  width:18px;
  height:13px;
  display:flex;
}
#u2166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:376px;
  width:182px;
  height:24px;
  display:flex;
}
#u2167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:381px;
  width:114px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2168_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:381px;
  width:18px;
  height:13px;
  display:flex;
}
#u2169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:401px;
  width:182px;
  height:24px;
  display:flex;
}
#u2170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:406px;
  width:81px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:406px;
  width:18px;
  height:13px;
  display:flex;
}
#u2172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:76px;
  width:403px;
  height:18px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
}
#u2173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:60px;
  width:849px;
  height:34px;
  display:flex;
}
#u2174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:99px;
  width:595px;
  height:75px;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:55px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:162px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:55px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:107px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:107px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:113px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:39px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:38px;
  width:55px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:38px;
  width:162px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:39px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:38px;
  width:55px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:38px;
  width:107px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:38px;
  width:107px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:96px;
  width:846px;
  height:75px;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:0px;
  width:125px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:38px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:0px;
  width:178px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:0px;
  width:147px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:0px;
  width:114px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:106px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:176px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:38px;
  width:125px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:39px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:38px;
  width:178px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:38px;
  width:147px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:39px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:38px;
  width:114px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:38px;
  width:106px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:68px;
  width:177px;
  height:15px;
  display:flex;
  font-size:11px;
}
#u2201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:68px;
  width:14px;
  height:15px;
  display:flex;
}
#u2202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:61px;
  width:212px;
  height:32px;
  display:flex;
}
#u2203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:69px;
  width:184px;
  height:15px;
  display:flex;
  font-size:11px;
}
#u2204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:69px;
  width:14px;
  height:15px;
  display:flex;
}
#u2205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:163px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:138px;
  width:135px;
  height:163px;
  display:flex;
}
#u2206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:69px;
  width:207px;
  height:20px;
  display:flex;
  font-size:11px;
}
#u2207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:69px;
  width:14px;
  height:12px;
  display:flex;
}
#u2208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:183px;
  width:634px;
  height:162px;
  display:flex;
}
#u2209 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:15px;
  width:659px;
  height:54px;
  display:flex;
}
#u2210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:374px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:321px;
  width:279px;
  height:374px;
  display:flex;
}
#u2211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:161px;
  width:0px;
  height:0px;
}
#u2212_seg0 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-5px;
  width:71px;
  height:10px;
}
#u2212_seg1 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-5px;
  width:10px;
  height:271px;
}
#u2212_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:256px;
  width:71px;
  height:10px;
}
#u2212_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:256px;
  width:10px;
  height:5px;
}
#u2212_seg4 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:283px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:374px;
  width:337px;
  height:283px;
  display:flex;
}
#u2213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:141px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:183px;
  width:847px;
  height:141px;
  display:flex;
}
#u2214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:158px;
  width:0px;
  height:0px;
}
#u2215_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-5px;
  width:41px;
  height:10px;
}
#u2215_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-5px;
  width:10px;
  height:428px;
}
#u2215_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:186px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:161px;
  width:0px;
  height:0px;
}
#u2216_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u2216_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:465px;
}
#u2216_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:450px;
  width:40px;
  height:10px;
}
#u2216_seg3 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:450px;
  width:10px;
  height:6px;
}
#u2216_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:235px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:157px;
  width:0px;
  height:0px;
}
#u2217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:8px;
  height:10px;
}
#u2217_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-5px;
  width:10px;
  height:403px;
}
#u2217_seg2 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:388px;
  width:179px;
  height:10px;
}
#u2217_seg3 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:392px;
  width:10px;
  height:6px;
}
#u2217_seg4 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:272px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:164px;
  width:0px;
  height:0px;
}
#u2218_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:64px;
  height:10px;
}
#u2218_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-5px;
  width:10px;
  height:393px;
}
#u2218_seg2 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:378px;
  width:93px;
  height:10px;
}
#u2218_seg3 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:378px;
  width:10px;
  height:9px;
}
#u2218_seg4 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:198px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:339px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:331px;
  width:237px;
  height:339px;
  display:flex;
}
#u2219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:153px;
  width:0px;
  height:0px;
}
#u2220_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u2220_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:322px;
}
#u2220_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:307px;
  width:10px;
  height:10px;
}
#u2220_seg3 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:307px;
  width:10px;
  height:148px;
}
#u2220_seg4 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:445px;
  width:26px;
  height:10px;
}
#u2220_seg5 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:445px;
  width:10px;
  height:15px;
}
#u2220_seg6 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:219px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:357px;
  width:492px;
  height:18px;
  display:flex;
}
#u2221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
