body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1906px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:589px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1234px;
  height:589px;
  display:flex;
}
#u2176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:589px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:60px;
  width:4px;
  height:589px;
  display:flex;
}
#u2177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:365px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:60px;
  width:4px;
  height:365px;
  display:flex;
}
#u2178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1036px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:-94px;
  width:7px;
  height:1036px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:30px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:30px;
  display:flex;
}
#u2180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:30px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1234px;
  height:30px;
  display:flex;
}
#u2181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:61px;
  width:182px;
  height:24px;
  display:flex;
}
#u2182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:66px;
  width:85px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:66px;
  width:18px;
  height:13px;
  display:flex;
}
#u2184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:86px;
  width:182px;
  height:24px;
  display:flex;
}
#u2185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:91px;
  width:130px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:91px;
  width:18px;
  height:13px;
  display:flex;
}
#u2187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:111px;
  width:182px;
  height:24px;
  display:flex;
}
#u2188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:116px;
  width:151px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:116px;
  width:18px;
  height:13px;
  display:flex;
}
#u2190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:301px;
  width:182px;
  height:24px;
  display:flex;
}
#u2191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:306px;
  width:99px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:306px;
  width:18px;
  height:13px;
  display:flex;
}
#u2193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:326px;
  width:182px;
  height:24px;
  display:flex;
}
#u2194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:331px;
  width:102px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:331px;
  width:18px;
  height:13px;
  display:flex;
}
#u2196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:351px;
  width:182px;
  height:24px;
  display:flex;
}
#u2197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:356px;
  width:77px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:356px;
  width:18px;
  height:13px;
  display:flex;
}
#u2199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:376px;
  width:182px;
  height:24px;
  display:flex;
}
#u2200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:381px;
  width:114px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:381px;
  width:18px;
  height:13px;
  display:flex;
}
#u2202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:401px;
  width:182px;
  height:24px;
  display:flex;
}
#u2203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:406px;
  width:81px;
  height:12px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:9px;
}
#u2204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:406px;
  width:18px;
  height:13px;
  display:flex;
}
#u2205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:76px;
  width:403px;
  height:18px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
}
#u2206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:60px;
  width:849px;
  height:34px;
  display:flex;
}
#u2207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:99px;
  width:595px;
  height:75px;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:55px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:162px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:55px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:107px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:107px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:113px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:39px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:38px;
  width:55px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:38px;
  width:162px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:39px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:38px;
  width:55px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:38px;
  width:107px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:38px;
  width:107px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:96px;
  width:846px;
  height:75px;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:0px;
  width:125px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:38px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:0px;
  width:178px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:38px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:0px;
  width:147px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:0px;
  width:114px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:106px;
  height:38px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u2227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:176px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:38px;
  width:125px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:39px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:38px;
  width:178px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:38px;
  width:147px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:39px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:38px;
  width:114px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:38px;
  width:106px;
  height:39px;
  display:flex;
  font-size:10px;
}
#u2233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:68px;
  width:177px;
  height:15px;
  display:flex;
  font-size:11px;
}
#u2234 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:68px;
  width:14px;
  height:15px;
  display:flex;
}
#u2235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:61px;
  width:212px;
  height:32px;
  display:flex;
}
#u2236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:69px;
  width:184px;
  height:15px;
  display:flex;
  font-size:11px;
}
#u2237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:69px;
  width:14px;
  height:15px;
  display:flex;
}
#u2238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:163px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:138px;
  width:135px;
  height:163px;
  display:flex;
}
#u2239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:69px;
  width:207px;
  height:20px;
  display:flex;
  font-size:11px;
}
#u2240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:69px;
  width:14px;
  height:12px;
  display:flex;
}
#u2241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:183px;
  width:634px;
  height:162px;
  display:flex;
}
#u2242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:15px;
  width:659px;
  height:54px;
  display:flex;
}
#u2243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:374px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:321px;
  width:279px;
  height:374px;
  display:flex;
}
#u2244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:161px;
  width:0px;
  height:0px;
}
#u2245_seg0 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-5px;
  width:71px;
  height:10px;
}
#u2245_seg1 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-5px;
  width:10px;
  height:271px;
}
#u2245_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:256px;
  width:71px;
  height:10px;
}
#u2245_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:256px;
  width:10px;
  height:5px;
}
#u2245_seg4 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:283px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:374px;
  width:337px;
  height:283px;
  display:flex;
}
#u2246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:141px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:183px;
  width:847px;
  height:141px;
  display:flex;
}
#u2247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:158px;
  width:0px;
  height:0px;
}
#u2248_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-5px;
  width:41px;
  height:10px;
}
#u2248_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-5px;
  width:10px;
  height:428px;
}
#u2248_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:186px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:161px;
  width:0px;
  height:0px;
}
#u2249_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u2249_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:465px;
}
#u2249_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:450px;
  width:40px;
  height:10px;
}
#u2249_seg3 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:450px;
  width:10px;
  height:6px;
}
#u2249_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:235px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:157px;
  width:0px;
  height:0px;
}
#u2250_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:8px;
  height:10px;
}
#u2250_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-5px;
  width:10px;
  height:403px;
}
#u2250_seg2 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:388px;
  width:179px;
  height:10px;
}
#u2250_seg3 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:392px;
  width:10px;
  height:6px;
}
#u2250_seg4 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:272px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:164px;
  width:0px;
  height:0px;
}
#u2251_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:64px;
  height:10px;
}
#u2251_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-5px;
  width:10px;
  height:393px;
}
#u2251_seg2 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:378px;
  width:93px;
  height:10px;
}
#u2251_seg3 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:378px;
  width:10px;
  height:9px;
}
#u2251_seg4 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:198px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:339px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:331px;
  width:237px;
  height:339px;
  display:flex;
}
#u2252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:153px;
  width:0px;
  height:0px;
}
#u2253_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u2253_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:322px;
}
#u2253_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:307px;
  width:10px;
  height:10px;
}
#u2253_seg3 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:307px;
  width:10px;
  height:148px;
}
#u2253_seg4 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:445px;
  width:26px;
  height:10px;
}
#u2253_seg5 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:445px;
  width:10px;
  height:15px;
}
#u2253_seg6 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:219px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:357px;
  width:492px;
  height:18px;
  display:flex;
}
#u2254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
