body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-35px;
  width:348px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:16px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:53px;
  width:348px;
  height:19px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:83px;
  width:209px;
  height:19px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:196px;
  height:19px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
