body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-12px;
  width:1368px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:152px;
  width:100px;
  height:60px;
  display:flex;
}
#u755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:102px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:102px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:214px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:214px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:104px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:104px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:104px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:216px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:216px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:214px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:182px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#8400FF;
}
#u766_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u766_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-55px;
  width:10px;
  height:60px;
}
#u766_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-55px;
  width:43px;
  height:10px;
}
#u766_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-59px;
  width:19px;
  height:18px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:182px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#8400FF;
}
#u767_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u767_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-5px;
  width:10px;
  height:72px;
}
#u767_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:57px;
  width:43px;
  height:10px;
}
#u767_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:53px;
  width:19px;
  height:18px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:89px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:261px;
  width:136px;
  height:89px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:67px;
  width:440px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:132px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u770_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:41px;
  height:10px;
}
#u770_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-5px;
  width:10px;
  height:60px;
}
#u770_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:45px;
  width:41px;
  height:10px;
}
#u770_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:41px;
  width:19px;
  height:18px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:244px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#D7D7D7;
}
#u771_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:41px;
  height:10px;
}
#u771_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-67px;
  width:10px;
  height:72px;
}
#u771_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-67px;
  width:41px;
  height:10px;
}
#u771_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-71px;
  width:19px;
  height:18px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-39px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:152px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:104px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:104px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:132px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u775_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u775_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-5px;
  width:10px;
  height:12px;
}
#u775_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-3px;
  width:43px;
  height:10px;
}
#u775_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-7px;
  width:19px;
  height:18px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:132px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u776_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u776_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-5px;
  width:10px;
  height:122px;
}
#u776_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:107px;
  width:49px;
  height:10px;
}
#u776_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:103px;
  width:19px;
  height:18px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u777_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:50px;
  height:10px;
}
#u777_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-9px;
  width:19px;
  height:18px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u778_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u778_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:19px;
  height:18px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u779_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:26px;
  height:10px;
}
#u779_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-5px;
  width:10px;
  height:122px;
}
#u779_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:107px;
  width:45px;
  height:10px;
}
#u779_seg3 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:103px;
  width:19px;
  height:18px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u780_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u780_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-9px;
  width:19px;
  height:18px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u781_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u781_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-9px;
  width:19px;
  height:18px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:134px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u782_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u782_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:122px;
}
#u782_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:107px;
  width:45px;
  height:10px;
}
#u782_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:103px;
  width:19px;
  height:18px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:401px;
  width:500px;
  height:186px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u783 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:182px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u784_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:26px;
  height:10px;
}
#u784_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-55px;
  width:10px;
  height:60px;
}
#u784_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-55px;
  width:23px;
  height:10px;
}
#u784_seg3 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-59px;
  width:19px;
  height:18px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:-31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:182px;
  width:0px;
  height:0px;
  font-family:'FZLTXHK--GBK1-0', '兰亭黑-简 Extralight', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#D9001B;
}
#u785_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:26px;
  height:10px;
}
#u785_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-5px;
  width:10px;
  height:72px;
}
#u785_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:57px;
  width:23px;
  height:10px;
}
#u785_seg3 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:53px;
  width:19px;
  height:18px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:370px;
  width:513px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:423px;
  width:577px;
  height:90px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
