body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-29px;
  width:648px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:33px;
  width:642px;
  height:147px;
  display:flex;
}
#u1765 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u1765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:220px;
  width:630px;
  height:72px;
  display:flex;
}
#u1766 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u1766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:294px;
  width:630px;
  height:54px;
  display:flex;
}
#u1767 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u1767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:350px;
  width:642px;
  height:35px;
  display:flex;
}
#u1768 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u1768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:389px;
  width:642px;
  height:34px;
  display:flex;
}
#u1769 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u1769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:190px;
  width:642px;
  height:37px;
  display:flex;
  font-family:'FZLTZHB--B51-0', 'Lantinghei TC Demibold', 'Lantinghei TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
}
#u1770 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u1770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
