body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:767px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:47px;
  width:761px;
  height:106px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u3329 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u3329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u3330 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:183px;
  width:761px;
  height:272px;
  display:flex;
  font-family:'兰亭黑-简 纤黑', '兰亭黑-简', sans-serif;
  font-weight:200;
  font-style:normal;
}
#u3330 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u3330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
}
#u3331 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:17px;
  width:642px;
  height:36px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
}
#u3331 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u3331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
}
#u3332 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:147px;
  width:642px;
  height:36px;
  display:flex;
  font-family:'兰亭黑-简 中黑', '兰亭黑-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
}
#u3332 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 6px 7px;
  box-sizing:border-box;
  width:100%;
}
#u3332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
